<html>
<head>
    <link rel="apple-touch-icon" sizes="57x57" href="/res/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/res/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/res/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/res/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/res/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/res/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/res/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/res/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/res/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/res/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/res/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/res/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/res/favicon/favicon-16x16.png">
    <link rel="manifest" href="/res/favicon/manifest.json">

    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="res/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Reenie+Beanie" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/bundle.css">

    <title>floot</title>
</head>
<body>
<div id="app-container"></div>

<script>
    const initializedState = {{{str this}}};
</script>
<script src="/js/bundle.js"></script>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-62629661-6', 'auto');
    ga('send', 'pageview');

</script>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-7745210622144429",
        enable_page_level_ads: true
    });
</script>
</body>
</html>